@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
  font-family: "Open Sans", serif;
}

.form-center2 {
  margin-left: 35%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
.temp-div {
  width: 30%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.detailsFont {
  font-size: 20px;
}
.details-div {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.icon-div {
  width: 20%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.icon-margin {
  margin-top: 0;
  height: 150px;
  width: 150px;
  vertical-align: middle;
}
.timefont {
  font-size: 25px;
}
.card-custom {
  width: 60%;
  margin-left: 22%;
  border-color: none;
}
.card-custom-margin {
  border-color: none;
}
input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}
